<h2>Scrum Backlogs</h2>
<p><%= @scrum_backlogs.count %> backlogs listed<p>
<p><%= link_to 'Add Scrum Backlog', new_scrum_backlog_path, role: 'button', class: 'btn btn-primary' %></p>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Trello URL</th>
      <th scope="col">Sprints</th>
      <th scope="col">Created</th>
      <th scope="col">Last Pull</th>
      <th scope="col">Last Update</th>
      <th scope="col" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @scrum_backlogs.each do |backlog| %>
      <tr>
        <th scope="row"><%= backlog.name %></th>
        <td><%= link_to backlog.trello_url, backlog.trello_url %></td>
        <td><%= backlog.sprints.count %></td>
        <td><%= backlog.created_at %></td>
        <td><%= backlog.last_pulled_at %></td>
        <td><%= backlog.updated_at %></td>
        <td>
          <%= link_to material_icon.web_asset, backlog %>
          <%= link_to material_icon.edit, edit_scrum_backlog_path(backlog) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
