<h2>Scrum Boards</h2>
<p><%= @scrum_boards.count %> boards listed<p>
<p><%= link_to 'Add Scrum Backlog', new_scrum_board_path, role: 'button', class: 'btn btn-primary' %></p>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-center">Sprints</th>
      <th scope="col" class="text-center">Avg Velocity</th>
      <th scope="col" class="text-center">Total WIP Points</th>
      <th scope="col" class="text-center">Backlog Stories</th>
      <th scope="col" class="text-center">Wish Heap Stories</th>
      <th scope="col" class="text-center">Created</th>
      <th scope="col" class="text-center">Last Pull</th>
      <th scope="col" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @scrum_boards.each do |board| %>
      <tr>
        <th scope="row"><%= board.name %></th>
        <td class="text-right"><%= board.sprints.count %></td>
        <td class="text-right"><%= number_with_precision(board.average_velocity, precision: 1) %></td>
        <td class="text-right"><%= board.total_work_in_progress_points %></td>
        <td class="text-right"><%= board.backlog_story_count %></td>
        <td class="text-right"><%= board.wish_heap_story_count %></td>
        <td><%= board.created_at.to_date %></td>
        <td><%= or_na(board.last_pulled_at, {alt: 'N/A'}) %></td>
        <td>
          <%= link_to show_icon, board, { title: 'view board' } %>
          <%= link_to edit_icon, edit_scrum_board_path(board), { title: 'edit board' } %>
          <%= link_to trello_icon, board.trello_url, { title: 'visit Trello board' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
