<div class="page-header">
  <h1>Board for <span class="text-primary"><%= @scrum_board.name %></span></h1>
</div>

<div class="row">
  <div class="col-sm">
    <dl class="dl-horizontal">
      <dt><strong>Trello URL</strong></dt>
      <dd><%= trello_url_link(@scrum_board) %></dd>
      <dt><strong>Last Trello Import</strong></dt>
      <dd><%= or_na(@scrum_board.updated_at) %></dd>
    </dl>
  </div>
  <div class="col-sm">
    <h4>
      <span class="badge badge-pill badge-danger"><%= @scrum_board.current_wip %></span>
      Work-in-Progress (WIP)
    </h4>
    <h4>
      <span class="badge badge-pill badge-success"><%= @scrum_board.current_velocity %></span>
      Daily Velocity
    </h4>
    <h4>
      <span class="badge badge-pill badge-primary"><%= @scrum_board.current_average_story_size %></span>
      Average Story Size
    </h4>
  </div>
</div>

<div class="actions mb-2">
  <% unless @scrum_board.import_in_progress? %>
    <%= form_for @scrum_board, url: scrum_board_import_path, method: :post do |f| %>
      <%= f.hidden_field :id, value: @scrum_board.id %>
      <%= f.submit "Import Latest Events", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<!-- Nav Tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= scrum_board_nav_tab_class('Sprints') %>"
      href="<%= sprints_scrum_board_path(@scrum_board) %>">Sprints</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= scrum_board_nav_tab_class('Chart') %>"
       href="<%= chart_scrum_board_path(@scrum_board) %>">Chart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= scrum_board_nav_tab_class('Contributors') %>"
       href="<%= contributors_scrum_board_path(@scrum_board) %>">Contributors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= scrum_board_nav_tab_class('Events') %>"
       href="<%= events_scrum_board_path(@scrum_board) %>">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= scrum_board_nav_tab_class('Imports') %>"
       href="<%= imports_scrum_board_path(@scrum_board) %>">Imports</a>
  </li>
</ul>

<% if @tab == 'chart' %>
  <%= render partial: "scrum/boards/chart", locals: {events: @scrum_board.wip_events} %>
<% elsif @tab == 'contributors' %>
  <%= render partial: "scrum/contributors/board_table",
             locals: { board: @scrum_board } %>
<% elsif @tab == 'events' %>
  <%= render partial: "scrum/events/board_table", locals: {events: @scrum_board.wip_events} %>
<% elsif @tab == 'imports' %>
  <%= render partial: "trello/imports/table", locals: {imports: @scrum_board.imports} %>
<% else %>
  <%= render partial: "scrum/queues/table",
             locals: {queues: @scrum_board.completed_queues.reverse} %>
<% end %>

<div class="actions">
  <%= link_to 'Index', scrum_boards_path, role: 'button', class: 'btn btn-light mt-2' %>
</div>
