<div class="page-header">
  <h1>Board for <span class="text-primary"><%= @scrum_board.name %></span></h1>
  <p><%= link_to 'Edit',
                 edit_scrum_board_path(@scrum_board),
                 role: 'button',
                 class: 'btn btn-primary' if scrum_master? %></p>
</div>

<div class="row">
  <div class="col-sm">
    <dl class="dl-horizontal">
      <dt><strong>Trello URL</strong></dt>
      <dd><%= trello_url_link(@scrum_board) %></dd>
      <dt><strong>Last Trello Import</strong></dt>
      <dd><%= or_na(@scrum_board.updated_at) %></dd>
    </dl>
  </div>
  <div class="col-sm">
    <%# TODO: Future story. Need scrum_board_pull_trello_path %>
    <%#= form_for @scrum_board, url: scrum_board_path(@scrum_board), method: :put, html: { class: "form-inline" } do |f| %>

      <%#= f.hidden_field :id, value: @scrum_board.id %>
      <%#= f.submit "Pull from Trello", class: "btn btn-warning ml-2" %>
    <%# end %>
    <h4>
      <span class="badge badge-pill badge-primary"><%= @scrum_board.wish_heap.stories.length %></span>
      Stories in Wish Heap
    </h4>
  </div>
</div>

<h3>Sprints</h3>

<div class="actions">
  <%= link_to 'Add Sprint',
              new_scrum_board_sprint_path(@scrum_board),
              role: 'button',
              class: 'btn btn-success mb-2' if scrum_master? %>
</div>

<div class="chart">
  <h4>Chart</h4>
  <%= line_chart scrum_board_charts_path(@scrum_board), xtitle: "Sprint", ytitle: "Story Points",
                 curve: false, discrete: true %>
</div>

<h4>Completed</h4>
<%= render partial: "scrum/queues/table", locals: {queues: @scrum_board.completed_queues.reverse} %>

<div class="actions">
  <%= link_to 'Index', scrum_boards_path, role: 'button', class: 'btn btn-light mt-2' %>
</div>
