<div class="page-header">
  <h2>Trello Board <span class="text-primary"><%= @board.name %></span></h2>
  <p><%= @board.description %></p>

  <p>
  <% if ScrumBacklog.scrummy_trello_board?(@board) && @backlog.nil? %>
    <%= form_for ScrumBacklog.new, url: scrum_backlogs_path, method: :post do |f| %>
      <%= f.hidden_field :trello_board_id, value: @board.id %>
      <%= f.submit "Create Project", class: "btn btn-success" %>
    <% end %>
  <% elsif @backlog %>
    <%= link_to @backlog.name, scrum_backlogs_path(@backlog) %>
  <% end %>
  </p>
</div>

<dl class="dl-horizontal">
  <dt><strong>URL</strong></dt>
  <dd><%= link_to @board.url, @board.url %></dd>
  <dt><strong>Org</strong></dt>
  <dd><%= board_org_link(@board) %></dd>
</dl>

<%= link_to 'back', trello_boards_path, role: 'button', class: 'btn btn-primary' %>
