<div class="page-header">
  <h2>Trello Board <span class="text-primary"><%= @board.name %></span></h2>
  <p><%= @board.description %></p>
</div>

<dl class="dl-horizontal">
  <dt><strong>URL</strong></dt>
  <dd><%= link_to @board.url, @board.url %></dd>
  <dt><strong>Org</strong></dt>
  <dd><%= link_to @board.organization.display_name, @board.organization.url %></dd>
</dl>

<%= link_to 'back', trello_boards_path, role: 'button', class: 'btn btn-primary' %>
