<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Board</th>
      <th scope="col">Status</th>
      <th scope="col">Events</th>
      <th scope="col">Completed</th>
      <th scope="col">Duration</th>
      <th scope="col">Last Event</th>
      <th scope="col">Days</th>
      <th scope="col" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% imports.each do |import| %>
      <tr>
        <td><%= import.board.name %></td>
        <td data-import-status="<%= import.status %>"><%= import.status %></td>
        <td><%= import.events.count %></td>
        <td><%= import.ended_at %></td>
        <td><%= import.duration %></td>
        <td><%= import.last_event.try(:occurred_at) || 'N/A' %></td>
        <td><%= import.events_period  || '0' %></td>
        <td>
          <%= link_to show_icon, trello_import_path(import) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
