<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Board</th>
      <th scope="col">Started</th>
      <th scope="col">Ended</th>
      <th scope="col">Duration</th>
      <th scope="col">First Event</th>
      <th scope="col">Last Event</th>
      <th scope="col">Span</th>
      <th scope="col" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% imports.each do |import| %>
      <tr>
        <td><%= import.board.name %></td>
        <td><%= import.created_at %></td>
        <td><%= import.ended_at %></td>
        <td><%= import.duration %></td>
        <td><%= import.events.first.occurred_at %></td>
        <td><%= import.events.last.occurred_at %></td>
        <td><%= import.events_period %></td>
        <td>
          <%#= link_to show_icon, trello_import_path(import) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
