<tr>
  <th scope="row"><%= queue.name %></th>
  <td><%= queue.started_on %></td>
  <td><%= queue.ended_on %></td>
  <td class="story_points_completed"><%= queue.points %></td>
  <td class="average_velocity"><%= queue.average_velocity %></td>
  <td class="average_story_size"><%= queue.average_story_size %></td>
  <td class="backlog_story_points"><%= queue.backlog_points %></td>
  <td class="wish_heap_story_points"><%= queue.wish_heap_points %></td>
  <td class="actions">
    <%= link_to show_icon, queue %>
  </td>
</tr>
