<div class="row justify-content-center">
  <div class="card event-card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h6 class="card-type">Event</h6>
          <p><%= @event.eventable.try(:title) %></p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="event-card-table">
        <tr>
          <td class="field-label" colspan="2">Board</td>
          <td><%= link_to @event.board.name, scrum_board_path(@event.board) %></td>
        </tr>
        <tr>
          <td class="field-label" colspan="2">Contributor</td>
          <td><%= @event.scrum_contributor.try(:username) || 'N/A' %></td>
        </tr>
        <tr>
          <td class="field-label" colspan="2">Type</td>
          <td><%= @event.eventable_type %></td>
        </tr>
        <tr>
          <td class="field-label" colspan="2">Action</td>
          <td><%= @event.action || 'N/A' %></td>
        </tr>
        <tr>
          <td class="field-label" colspan="2">Trello Type</td>
          <td><%= @event.trello_type || 'N/A' %></td>
        </tr>
        <tr>
          <td class="field-label" colspan="2">Trello Object</td>
          <td><%= @event.trello_object || 'N/A' %></td>
        </tr>
        <tr>
          <td class="field-label" colspan="2">Occurred at</td>
          <td>
            <span class="momentize-format" data-datetime="<%= @event.occurred_at.to_i %>">
              <%= @event.occurred_at %>
            </span>
          </td>
        </tr>
        <tr>
          <td class="field-label" colspan="2">Imported at</td>
          <td>
            <span class="momentize-format" data-datetime="<%= @event.created_at.to_i %>">
              <%= @event.created_at %>
            </span>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="field-label">Trello Data</td>
        </tr>
        <tr>
          <td class="text-left"><code><%= @event.trello_data || 'N/A' %></code></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="actions">
  <%= link_to 'Board Events', events_scrum_board_path(@event.scrum_board), role: 'button',
              class: 'btn btn-info ml-2' %>
</div>
