<p id="notice"><%= notice %></p>

<h1>Scrum Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scrum_projects.each do |scrum_project| %>
      <tr>
        <td><%= scrum_project.name %></td>
        <td><%= link_to 'Show', scrum_project %></td>
        <td><%= link_to 'Edit', edit_scrum_project_path(scrum_project) %></td>
        <td><%= link_to 'Destroy', scrum_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scrum Project', new_scrum_project_path %>
