<%= bootstrap_form_with(model: scrum_sprint,
                        url: scrum_sprint_form_url(scrum_sprint),
                        local: true) do |form| %>

  <%= form.alert_message "Please fix the errors below." %>

  <%= form.hidden_field :scrum_board_id, value: scrum_sprint.scrum_board.id %>

  <div class="form-group row">
    <div class="col-sm-2">
      <label>Sprint Name</label>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :name, hide_label: true %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label>Sprint Dates</label>
    </div>
    <div class="col-sm-3">
      <%= form.date_field :started_on, label_as_placeholder: true, help: "Started" %>
    </div>
    <div class="col-sm-1 text-center pt-2">
      to
    </div>
    <div class="col-sm-3">
      <%= form.date_field :ended_on, label_as_placeholder: true, help: "Ended" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label>User Stories</label>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :stories_count, hide_label: true, help: 'Number' %>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :story_points_committed, hide_label: true, help: 'Committed' %>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :story_points_completed, hide_label: true, help: 'Completed' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label>Backlog Stories</label>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :backlog_stories_count, hide_label: true, help: 'Number' %>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :backlog_story_points, hide_label: true, help: 'Points' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label>Wish Heap Stories</label>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :wish_heap_stories_count, hide_label: true, help: 'Number' %>
    </div>
    <div class="col-sm-2">
      <%= form.text_field :wish_heap_story_points, hide_label: true, help: 'Points' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label>Notes</label>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :notes, hide_label: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary ml-2" %>
  </div>
<% end %>
