<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Completed</th>
      <th scope="col"><%= ScrumBoard::NUM_SPRINTS_FOR_AVG_VELOCITY %>-Sprint Avg Velocity</th>
      <th scope="col">Avg Story Size</th>
      <th scope="col">Backlog</th>
      <th scope="col">Wish Heap</th>
      <th scope="col">Notes</th>
      <th scope="col" class="actions"></th>

    </tr>
  </thead>
  <tbody>
    <% sprints.each do |sprint| %>
      <tr>
        <th scope="row"><%= sprint.name %></th>
        <td><%= sprint.started_on %></td>
        <td><%= sprint.ended_on %></td>
        <td><%= sprint.story_points_completed %></td>
        <td><%= format_avg_velocity(sprint) %></td>
        <td><%= sprint.average_story_size %></td>
        <td><%= format('%s (%s)', sprint.backlog_story_points, sprint.backlog_stories_count) %></td>
        <td><%= format('%s (%s)', sprint.wish_heap_story_points, sprint.wish_heap_stories_count) %></td>
        <td><%= sprint.notes %></td>
        <td>
          <%= link_to show_icon, sprint %>
          <%= link_to edit_icon, edit_scrum_sprint_path(sprint) if scrum_master? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
