<div class="page-header">
  <h2>Sprint <span class="text-primary"><%= @scrum_sprint.name %></span></h2>
  <p><%#= link_to 'Edit', edit_scrum_sprint_path(@scrum_sprint), role: 'button', class: 'btn btn-primary' %></p>
</div>

<div class="row">
  <div class="col-sm">
    <dl class="dl-horizontal">
      <dt><strong>Trello Position</strong></dt>
      <dd><%= @scrum_sprint.trello_pos %></dd>
      <dt><strong>Started</strong></dt>
      <dd><%= @scrum_sprint.started_on %></dd>
      <dt><strong><%= @scrum_sprint.over? ? 'Ended' : 'Ends' %></strong></dt>
      <dd><%= @scrum_sprint.ended_on %></dd>
      <dt><strong>Last Trello Pull</strong></dt>
      <dd><%= @scrum_sprint.last_pulled_at %></dd>
      <dt><strong>Notes</strong></dt>
      <dd><%= @scrum_sprint.notes || '(no notes)' %></dd>
    </dl>
  </div>
  <div class="col-sm">
    <%# TODO: Button to pull info from Trello %>
    <h4><span class="badge badge-pill badge-light">
      <%= @scrum_sprint.story_points_committed || 'N/A' %></span> Story Points Committed
    </h4>
    <h4><span class="badge badge-pill badge-success">
      <%= @scrum_sprint.story_points_completed %></span> Story Points Completed
    </h4>
    <% unless @scrum_sprint.current? %>
      <h4><span class="badge badge-pill badge-info">
        <%= format_avg_velocity(@scrum_sprint) %></span>
        <%= ScrumBoard::NUM_SPRINTS_FOR_AVG_VELOCITY %>-Sprint Avg Velocity
      </h4>
    <% end %>
    <h4><span class="badge badge-pill badge-info">
      <%= @scrum_sprint.average_story_size %></span> Average Story Size
    </h4>
  </div>
</div>

<h3>User Stories</h3>
<%= render partial: "scrum/user_stories/table", locals: {stories: @scrum_sprint.stories} %>

<div class="actions">
  <%= link_to 'Scrum Board', scrum_board_path(@scrum_sprint.board), role: 'button', class: 'btn btn-info ml-2' %>
</div>
