<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"><%= material_icon.bubble_chart %></th>
      <th scope="col">Board</th>
      <th scope="col">Trello URL</th>
      <th scope="col">Last Update</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <th><%= material_icon.add_circle_outline %></th>
        <th scope="row"><%= link_to board.name, trello_board_path(board.id) %></th>
        <td><%= link_to board.url, board.url %></td>
        <td><%= board.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
