<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to 'Scrumwell', root_path, class: 'navbar brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-control="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <!-- Scrum Dropdown -->
      <% if signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= scrum_icon %>
            Scrum
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Boards', scrum_boards_path, class: 'dropdown-item' %>
            <% if scrum_master? %>
              <%= link_to 'Contributors', scrum_contributors_path, class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      <% end %>

      <!-- Trello Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= trello_icon %>
          Trello
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Orgs', trello_orgs_path, class: 'dropdown-item' %>
          <%= link_to 'Boards', trello_boards_path, class: 'dropdown-item' %>
          <% if scrum_master? %>
            <%= link_to 'Imports', trello_imports_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </div>
  </div>

  <span class="auth">
    <% if signed_in? %>
      <%= link_to 'Logout', sign_out_path, class: 'btn btn-light' %>
    <% else %>
      <%= link_to 'Login', google_sign_in_path, class: 'btn btn-outline-light', id: 'button-login' %>
    <% end %>
  </span>
</nav>
