<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to 'Scrumwell', root_path, class: 'navbar brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-control="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <!-- Scrum Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= material_icon.bubble_chart %>
          Scrum
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Projects', scrum_projects_path, class: 'dropdown-item' %>
        </div>
      </li>

      <!-- Trello Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= material_icon.tab %>
          Trello
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Orgs', trello_orgs_path, class: 'dropdown-item' %>
          <%= link_to 'Boards', trello_boards_path, class: 'dropdown-item' %>
        </div>
      </li>
    </div>
  </div>
</nav>
