<!DOCTYPE html>
<html>
  <head>
    <title>Scrumwell</title>
    <%= csrf_meta_tags %>

    <%#= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>"
        data-controller="<%= controller.controller_path %>"
        data-action="<%= controller.action_name %>">

    <%= render 'layouts/navbar' %>
    <%= bootstrap_flash %>

    <main role="main" class="container">

      <%= yield %>

    </main>

    <!-- Footer Here -->

    <!-- JS CDN Links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.js"></script>
  </body>
</html>
